<table class="table">
  <form action="/peliculas" method="get">
    <tr>
      <td><input type="text" name="titulo" id="titulo" value="<%=titulo%>"></td>
      <td><input type="text" name="anio" id="anio" value="<%=anio%>"></td>
      <td><input type="submit" value="Buscar"></td>
    </tr>  
  </form>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      <a class="page-link" href="/peliculas?desde=<%=anterior%>" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item disabled"><a class="page-link" href="#"> <%=desde+1%> al <%=(desde+limite)%>/ <%=total%></a></li>
    <li class="page-item">
      <a class="page-link" href="/peliculas?limite=5&desde=<%=siguiente%>">Siguiente</a>
    </li>
  </ul>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Año</th>
      <th scope="col">Fecha</th>
      <th scope="col">Genero</th>
      <th scope="col">Director</th>
      <th scope="col">Actores</th>
      <th scope="col">Reseña</th>
      <th scope="col">Ratings</th>

    </tr>
  </thead>
  <tbody>
    <% peliculas.forEach((pelicula, idx) => {  %>
    <tr>
      <th scope="row"><%=idx+1%></th>
      <td><%=pelicula.Title%></td>
      <td><%=pelicula.Year%></td>
      <td><%=pelicula.Released%></td>
      <td><%=pelicula.Genre%></td>
      <td><%=pelicula.Director%></td>
      <td><%=pelicula.Actors%></td>
      <td>
        <form action="/reemplazar" method="post">
          <table>
            <tr><td><%=pelicula.Plot%></td></tr>  
            <tr> <td><input type="submit" value="reemplazar"></td> </tr>
            <input type="hidden" name="idr" value="<%=pelicula._id%>">
            <input type="hidden" name="titulo" value="<%=pelicula.Title%>">
            <input type="hidden" name="plot" value="<%=pelicula.Plot%>">
          </table>
        </form>
      </td>
      <td>
        <ul class="list-group">
        <% pelicula.Ratings.forEach(rts => {  %>
          <li class="list-group-item"><%=rts.Value+' - '+rts.Source%></li>
        <%})%>
        </ul>
      </td>

    </tr>
    <%});%>
    
  </tbody>
</table>