<table class="table">
    <thead class="thead-dark">
        <tr><th scope="col" colspan="2">Buscar y remplazar</th> </tr>
    </thead>
    <tbody>
        <tr><td>Titulo:</td><td><%=titulo%></td></tr>
        <tr><td>Reseña:</td><td colspan="2"><%=plot%></td></tr>
        
        <form action="/reemplazar" method="post">
            <tr>
                <input type="hidden" name="idr" value="<%=idr%>">
                <input type="hidden" name="titulo" value="<%=titulo%>">
                <input type="hidden" name="plot" value="<%=plot%>">
                <td><input type="text" class="form-control" name="pbuscar" placeholder="Qué palabra deseas buscar?"></td>
                <td><input type="text" class="form-control" name="preemplazar" placeholder="Con qué palabra la deseas reemplazar?"></td>
                
            </tr>
            <tr>
                <td>
                    <input type="submit" value="reemplazar" class="btn btn-dark btn-lg">
                </td>
                <td>
                    <a href="/peliculas" class="btn btn-danger btn-lg">Cancelar</a>
                </td>
            </tr>
        </form>
        <%if(resultado!='vacio'){%>
        <tr><td>Resultado del reemplazo:</td><td colspan="2"><%=resultado%></td></tr>
        <%}%>
    </tbody>
</table>